@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    --primary: 48 96% 53%;
    /* Warm Yellow */
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 22%;
    /* Lighter Slate */
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 22%;
    --muted-foreground: 215 20% 65%;

    --accent: 48 96% 53%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 48 96% 53%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}